input.text {
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 2px;
    margin-left: 5px;
    outline: solid 2px rgb(170, 212, 248);
}

input.text:focus {
    outline: solid 2px rgb(81, 132, 178);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input.select {
    height: 25px;
    width: 150px;
    background-color: none;
    font-family: Arial, Heiti;
    border-radius: 5px;
    margin: 5px 10px;
    border: 2px solid rgb(81, 132, 178);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
    --placeholder-color: gray;
}

input.select:focus {
    border: 2px solid rgb(81, 132, 178);
    outline: none;
}

input.mode {
    margin: 10px;
}

.select_submit {
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(81, 132, 178);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
}

.select_submit:hover {
    background-color: rgb(54, 91, 124);
}

input[type="file"]::file-selector-button {
    background-color: rgb(81, 132, 178);
    color: white;
    border: none;
    height: 25px;
}

input[type="file"]::file-selector-button:hover {
    background-color: rgb(54, 91, 124);
}

input[type="file"] {
    background-color: white;
    width: 180px;
}

.ext_button {
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: rgb(81, 132, 178);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
}

.ext_button:hover {
    background-color: rgb(54, 91, 124);
}

.ext_button_f {
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: rgb(213, 82, 118);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
}

.ext_button_f:hover {
    background-color: rgb(165, 63, 90);
}

select {
    height: 30px;
    width: 80px;
    background-color: none;
    font-family: Arial, Heiti;
    border-radius: 5px;
    margin: 10px;
    border: 2px solid rgb(81, 132, 178);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
    --placeholder-color: gray;
}

select:focus {
    border: 2px solid rgb(81, 132, 178);
    outline: none;
}

div.reg {

    color: rgb(81, 132, 178);
    font-size: 18px;
    left: 20%;
    width: 60%;
    position: absolute;

    form {

        margin-left: 5%;
        margin-right: 5%;

        input.text {

            width: 100%;
        }

        .update {
            color: white;
            font-size: 15px;
            margin-top: 5px;
            margin-left: 5px;
            height: 30px;
            width: 80px;
            border-radius: 5px;
            border: none;
            background-color: rgb(81, 132, 178);
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
        }

        .enter {
            color: white;
            font-size: 18px;
            height: 45px;
            margin-left: 20%;
            margin-right: 10%;
            width: 20%;
            border-radius: 5px;
            border: none;
            background-color: rgb(81, 132, 178);
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
        }

        .enter:hover,
        .update:hover {
            background-color: rgb(54, 91, 124);
        }

        .back {
            color: white;
            height: 45px;
            margin-left: 10%;
            margin-right: 20%;
            width: 20%;
            border-radius: 5px;
            border-radius: 5px;
            border: none;
            margin: 5px;
            font-size: 18px;
            background-color: rgb(213, 82, 118);
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);

            a {
                color: white;
                font-size: 18px;
                text-decoration: none;
            }
        }

        .back:hover {
            background-color: rgb(165, 63, 90);
        }

        p {
            color: red;
            text-align: left;
            font-size: 14px;
            position: relative;
            height: 12px;
        }
    }

}

div.search_1 {
    text-align: center;
    margin-bottom: 10px;

    .search,
    .search:focus {
        height: 35px;
        width: 70%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        border: solid 2px rgb(81, 132, 178);
        box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
        margin-right: 10px;
        outline: none;
        display: inline;
        font-size: 18px;
    }

    .enter {
        color: white;
        font-size: 18px;
        height: 40px;
        width: 10%;
        border-radius: 5px;
        border: solid 2px rgb(81, 132, 178);
        background-color: rgb(81, 132, 178);
        box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
        display: inline;
    }

    .enter:hover {
        background-color: rgb(54, 91, 124);
    }
}

#nav_1 {

    list-style-type: none;
    text-align: center;
    background-color: rgb(241, 167, 181);
    margin: 0;
    padding: 0;
    left: 5%;
    right: 95%;

    .a_nav {
        width: 250px;
        height: 50px;
        background-color: rgb(241, 167, 181);
        margin: none;
        border: none;

        .nav_1_a {
            text-decoration: none;
            color: white;
            font-size: 18px;
        }
    }

    .a_nav:hover {
        background-color: rgb(213, 82, 118) !important;
    }
}

#nav_2 {

    text-align: center;
    background-color: rgb(170, 212, 248);
    margin: 0;
    padding: 0;
    left: 5%;
    right: 95%;

    .b_nav {
        width: 350px;
        height: 50px;
        background-color: rgb(170, 212, 248);
        margin: none;
        border: none;

        .nav_2_a {
            text-decoration: none;
            color: white;
            font-size: 18px;
        }

    }

    .b_nav:hover {
        background-color: rgb(81, 132, 178) !important;
    }


}

div.div_0 {
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 10px;
    padding: 10px 5px 30px 5px;
    height: 300px;
    width: 300px;
    border: 2px solid rgb(180, 215, 231);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    #login {
        color: rgb(81, 132, 178);

        .enter {
            color: white;
            font-size: 18px;
            width: 80%;
            height: 35px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: rgb(81, 132, 178);
        }

        .enter:hover {
            background-color: rgb(54, 91, 124);
        }

        p {
            color: red;
            text-align: left;
            font-size: 10px;
            position: relative;
            left: 20%;
            height: 12px;
        }
    }

    .default {

        width: 40%;
        height: 30px;
        border: 2px solid rgb(81, 132, 178);
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 30px;
        background-color: white;

        .dlnk {
            color: rgb(81, 132, 178);
            font-size: 15px;
            text-decoration: none;
        }
    }

    .default:hover {
        border: 2px solid rgb(54, 91, 124);

        .dlnk {
            color: rgb(54, 91, 124);
        }
    }


}

div.topright {

    text-align: right;
    padding-bottom: 20px;

    #info {
        input {
            text-decoration: none;
            color: black;
            font-size: 15px;
            background: none;
            border: none;
        }

        input:hover {
            text-decoration: underline;
        }
    }

}

div.detail {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 50%);
    border: 2px solid rgb(180, 215, 231);
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
    padding: 10px;
    overflow: auto;

    .dimg {
        width: 480px;
        height: 576px;
        border-radius: 5px;
        border: 2px solid rgb(170, 212, 248);
        box-shadow: 1px 1px 1px 1px rgba(59, 73, 86, 0.87);
        float: right;


    }

    #gname {
        font-size: 20px;
        margin: 20px;
        height: 100px;
        margin: 5px 20px 5px 20px;
        position: relative;
        display: block;
    }

    h2 {
        text-align: left;
        top: 150px;
        margin: 5px 20px 5px 20px;
        position: relative;
        display: block;
    }

    #provider {
        font-size: 18px;
        top: 150px;
        margin: 5px 20px 5px 20px;
        position: relative;
        display: block;
    }

    #num {
        font-size: 18px;
        top: 150px;
        margin: 5px 20px 5px 20px;
        position: relative;
        display: block;
    }

    #pricelabel {
        font-size: 18px;
        top: 150px;
        margin: 5px 20px 5px 20px;
        position: relative;
        display: block;
    }

    #price {
        font-size: 40px;
        top: 150px;
        margin: 5px 20px 5px 20px;
        color: red;
        position: relative;
        display: block;
    }

    #buy {
        #prompt {
            font-size: 18px;
            top: 150px;
            width: 200px;
            margin: 5px 20px 5px 20px;
            position: relative;
            display: block;
        }

        #selectnum {
            top: 120px;
            width: 100px;
            left: 200px;
            position: relative;
            display: block;
        }

        #submitbtn {
            background-color: rgb(81, 132, 178);
            font-size: 18px;
            color: white;
            margin: 10px 30px 10px 40px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
            top: 90px;
            width: 100px;
            height: 40px;
            position: relative;
            display: inline-block;
        }

        #submitbtn:hover {
            background-color: rgb(54, 91, 124);
        }

        #submitbtn:disabled {
            background-color: rgb(54, 91, 124);
            color: rgb(192, 192, 192);
        }

        #back {
            background-color: rgb(213, 82, 118);
            font-size: 18px;
            color: white;
            margin: 10px 40px 10px 30px;
            border-radius: 5px;
            border: none;
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
            top: 90px;
            width: 100px;
            height: 40px;
            position: relative;
            display: inline-block;
        }

        #back:hover {
            background-color: rgb(165, 63, 90);
        }
    }


}

div.div_1 {

    .div_1_1:nth-of-type(odd) {
        background-color: white;
        height: 200px;
        width: 49%;
        border-radius: 10px;
        margin: 5px;
        display: block;
        float: left;

        img {
            width: 150px;
            height: 180px;
            border: none;
            margin: 10px;
            display: block;
            position: absolute;
        }

        .glabel {
            left: 180px;
            color: black;
            height: 45px;
            width: 65%;
            font-size: 15px;
            margin: 10px;
            display: block;
            position: relative;
        }

        .gprice {
            left: 180px;
            top: 50px;
            font-size: 30px;
            color: red;
            display: block;
            position: relative;
        }

        form {
            .glook {
                color: white;
                left: 180px;
                top: 50px;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                border: none;
                margin: 5px;
                background-color: rgb(213, 82, 118);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                position: relative;
            }

            .glook:hover {
                background-color: rgb(165, 63, 90);
            }
        }
    }

    .div_1_1:nth-of-type(even) {
        background-color: white;
        height: 200px;
        left: 50%;
        width: 49%;
        border-radius: 10px;
        margin: 5px;
        display: block;
        float: right;

        img {
            width: 150px;
            height: 180px;
            border: none;
            margin: 10px;
            display: block;
            position: absolute;
        }

        .glabel {
            left: 180px;
            color: black;
            height: 45px;
            width: 65%;
            font-size: 15px;
            margin: 10px;
            display: block;
            position: relative;
        }

        .gprice {
            left: 180px;
            top: 50px;
            font-size: 30px;
            color: red;
            display: block;
            position: relative;
        }

        form {
            .glook {
                color: white;
                left: 180px;
                top: 50px;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                border: none;
                margin: 5px;
                background-color: rgb(213, 82, 118);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                position: relative;
            }

            .glook:hover {
                background-color: rgb(165, 63, 90);
            }
        }
    }

    .div_1_2a {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        vertical-align: center;
        background-color: rgb(170, 212, 248);
        height: 45px;

        p {
            font-size: 20px;
            display: inline;
            position: relative;
            top: 5px;
            margin-left: 20px;

            #cartnum {
                color: red;
                font-size: 20px;
                font-weight: bold;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        form {

            float: right;
            display: inline;

            .gpay {
                color: white;
                height: 30px;
                top: 5px;
                right: 40%;
                width: 100px;
                border-radius: 5px;
                border: none;
                background-color: rgb(34, 177, 76);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                display: inline;
                position: relative;
            }

            .gpay:hover {
                background-color: green;
            }

            .gpay:disabled {
                background-color: green;
                color: rgb(192, 192, 192);
            }

            .empty {
                color: white;
                height: 30px;
                top: 5px;
                right: 30%;
                width: 100px;
                border-radius: 5px;
                border: none;
                background-color: rgb(213, 82, 118);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                display: inline;
                position: relative;
            }

            .empty:hover {
                background-color: rgb(165, 63, 90);
            }

            .empty:disabled {
                background-color: rgb(165, 63, 90);
                color: rgb(192, 192, 192);
            }
        }

    }

    .div_1_2b {

        .div_1_2 {
            background-color: white;
            height: 100px;
            border-radius: 10px;
            margin: 5px;
            display: block;

            .cglabel {
                left: 10px;
                color: black;
                height: 45px;
                font-size: 15px;
                top: 10px;
                margin: 10px;
                display: block;
                position: relative;
            }

            .cgnum {
                left: 20px;
                font-size: 25px;
                color: red;
                display: inline;
                position: relative;
            }

            .cgprice {
                left: 180px;
                font-size: 25px;
                color: red;
                display: inline;
                position: absolute;
            }

            .cgtime {
                left: 400px;
                margin-top: 7px;
                color: gray;
                display: inline;
                position: absolute;
            }

            form {
                display: inline;

                .cglook {
                    color: white;
                    left: 850px;
                    height: 30px;
                    width: 100px;
                    border-radius: 5px;
                    border: none;
                    margin: 5px;
                    background-color: rgb(81, 132, 178);
                    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                    display: inline;
                    position: absolute;
                }

                .cglook:hover {
                    background-color: rgb(54, 91, 124);
                }

                .cgdel {
                    color: white;
                    left: 960px;
                    height: 30px;
                    width: 100px;
                    border-radius: 5px;
                    border: none;
                    margin: 5px;
                    background-color: rgb(213, 82, 118);
                    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                    display: inline;
                    position: absolute;
                }

                .cgdel:hover {
                    background-color: rgb(165, 63, 90);
                }
            }
        }
    }

    .div_1_3a {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        vertical-align: center;
        background-color: rgb(170, 212, 248);
        height: 45px;

        p {
            font-size: 20px;
            display: inline;
            position: relative;
            top: 5px;
            margin-left: 20px;

            #renewtime {
                color: rgb(34, 177, 76);
                font-size: 20px;
                top: 5px;
                margin-left: 10px;
                margin-right: 10px;
                display: inline;
            }
        }

        .renew {

            float: right;
            display: inline;
            position: relative;
            color: white;
            height: 30px;
            top: 5px;
            right: 5%;
            width: 100px;
            border-radius: 5px;
            border: none;
            background-color: rgb(81, 132, 178);
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);

        }

        .renew:hover {
            background-color: rgb(54, 91, 124);
        }

        .renew:disabled {
            background-color: rgb(54, 91, 124);
            color: rgb(192, 192, 192);
        }

    }

    .div_1_3b {
        background-color: white;
        height: 100px;
        border-radius: 10px;
        margin: 5px;
        display: block;

        .cglabel {
            left: 10px;
            color: black;
            height: 45px;
            font-size: 15px;
            top: 10px;
            margin: 10px;
            display: block;
            position: relative;
        }

        .cgnum {
            left: 20px;
            font-size: 25px;
            color: red;
            display: inline;
            position: relative;
        }

        .cgprice {
            left: 180px;
            font-size: 25px;
            color: red;
            display: inline;
            position: absolute;
        }

        .cgstatus {
            left: 300px;
            font-size: 20px;
            color: rgb(34, 177, 76);
            display: inline;
            position: relative;
        }

        .cgtime {
            top: -2px;
            left: 400px;
            color: gray;
            display: inline;
            position: relative;
        }

        .recv {
            color: white;
            left: 1000px;
            height: 30px;
            width: 100px;
            border-radius: 5px;
            border: none;
            margin: 5px;
            background-color: rgb(81, 132, 178);
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
            display: inline;
            position: absolute;
        }

        .recv:hover {
            background-color: rgb(54, 91, 124);
        }

        .recv:disabled {
            background-color: rgb(54, 91, 124);
            color: rgb(192, 192, 192);
        }
    }

    .div_1_4a {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        vertical-align: center;
        background-color: rgb(170, 212, 248);
        height: 45px;

        form {

            float: right;
            display: inline;

            .logempty {
                color: white;
                height: 30px;
                top: 5px;
                right: 30%;
                width: 100px;
                border-radius: 5px;
                border: none;
                background-color: rgb(213, 82, 118);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                display: inline;
                position: relative;
            }

            .logempty:hover {
                background-color: rgb(165, 63, 90);
            }

            .logempty:disabled {
                background-color: rgb(165, 63, 90);
                color: rgb(192, 192, 192);
            }
        }

    }

    .div_1_4b {
        background-color: white;
        height: 100px;
        border-radius: 10px;
        margin: 5px;
        display: block;

        .cglabel {
            left: 10px;
            color: black;
            height: 45px;
            font-size: 15px;
            top: 10px;
            margin: 10px;
            display: block;
            position: relative;
        }

        .cgnum {
            left: 20px;
            font-size: 25px;
            color: red;
            display: inline;
            position: relative;
        }

        .cgprice {
            left: 180px;
            font-size: 25px;
            color: red;
            display: inline;
            position: absolute;
        }

        .time1 {
            left: 300px;
            top: -2px;
            color: rgb(81, 132, 178);
            position: relative;
        }

        .time2 {
            left: 310px;
            top: -2px;
            color: orange;
            position: relative;
        }

        .time3 {
            left: 320px;
            top: -2px;
            color: rgb(34, 177, 76);
            position: relative;
        }

        form {
            display: inline;

            .cglook {
                color: white;
                left: 850px;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                border: none;
                margin: 5px;
                background-color: rgb(81, 132, 178);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                display: inline;
                position: absolute;
            }

            .cglook:hover {
                background-color: rgb(54, 91, 124);
            }

            .cgdel {
                color: white;
                left: 960px;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                border: none;
                margin: 5px;
                background-color: rgb(213, 82, 118);
                box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);
                display: inline;
                position: absolute;
            }

            .cgdel:hover {
                background-color: rgb(165, 63, 90);
            }
        }
    }
}

div.div_2 {
    height: auto;
    background-color: rgba(242, 245, 250, 40%);
    text-align: center;
    display: none;

    #sub_201 {
        width: 100px;
    }

}

dialog {
    width: 300px;
    padding: none;
    text-align: center;
    background-image: linear-gradient(#b0e6fe, #eed1ef);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 2px solid rgb(81, 132, 178);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87);

    p {
        text-align: left;
        margin-left: 10%;
    }

    #purchase {
        .select_submit {
            width: 80px;
            height: 30px;
        }
    }

    #paynumval {
        font-size: 20px;
    }

    #paypriceval {
        color: red;
        font-size: 30px;
        font-weight: bold;
    }
}



table.t2 {
    width: 100%;

    td {
        height: 30px;

        button {
            color: white;
            height: 25px;
            width: 50px;
            margin: 0px 5px 2px 5px;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px rgba(150, 162, 165, 0.87)
        }

        .add_201 {
            background-color: rgb(34, 177, 76);
        }

        .sent_202 {
            background-color: rgb(34, 177, 76);
            width: 80px;
        }

        .add_201:hover,
        .sent_202:hover {
            background-color: green;
        }

        .sent_202:disabled {
            background-color: green;
            color: rgb(192, 192, 192);
        }

        .mod_201 {
            background-color: rgb(81, 132, 178);
        }

        .info_202 {
            background-color: rgb(81, 132, 178);
            width: 80px;
        }

        .mod_201:hover,
        .info_202:hover {
            background-color: rgb(54, 91, 124);
        }

        .del_201 {
            background-color: rgb(213, 82, 118);
        }

        .del_201:hover {
            background-color: rgb(165, 63, 90);
        }

        .open_201 {
            background-color: orange;
        }

        .open_201:hover {
            background-color: rgb(200, 140, 50);
        }

        .open_201:disabled {
            background-color: rgb(200, 140, 50);
            color: rgb(192, 192, 192);
        }
    }

    th {
        height: 30px;
        background: -webkit-linear-gradient(top, rgb(81, 132, 178), rgb(236, 242, 250), rgb(81, 132, 178));
        border-color: white;
        border: 2px;
        position: sticky;
    }

    #c1_6,
    #c2_6 {
        width: 20%;
    }

    #c1_2 {
        width: 40%;
    }

    #c1_1,
    #c1_3,
    #c1_4,
    #c1_5,
    #c2_2,
    #c2_5,
    #c3_1,
    #c3_3,
    #c3_4 {
        width: 10%;
    }

    #c2_0,
    #c2_1,
    #c2_3,
    #c2_4 {
        width: 15%;
    }

    tr:nth-of-type(odd) {
        background-color: rgb(218, 226, 237);
    }

    tr:nth-of-type(even) {
        background-color: rgb(170, 212, 248);
    }
}

span.capt {
    background: -webkit-linear-gradient(top, Brown, Orange);
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

span.sp_203 {
    margin: 10px;
    color: rgb(81, 132, 178);
    font-weight: bold;
}




nav.c {

    background-color: aqua;
    vertical-align: middle;
    text-align: center;
    padding: 10px;

    button {
        width: 100px;
        height: 50px;
        border-radius: 5%;
        border-color: paleturquoise;
        background-color: green;
        color: white;
        font: 20px;

        vertical-align: middle;
    }

    ;

}

body.regpage {}

h1,
h2 {
    text-align: center;
    background: -webkit-linear-gradient(top, rgb(218, 226, 237), rgb(45, 60, 129), rgb(218, 226, 237));
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
}

h4 {
    text-align: center;
    margin-top: 30px;
    color: rgb(81, 132, 178);
}

html {

    background-image: linear-gradient(#b0e6fe, #eed1ef);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 1100px;
}